#code_gen_modules

fn main() {
    let args: Vec<String> = std::env::args().collect();
    match args.get(1).map(String::as_str) {
        #contract_matcher
        _ => println!("Please provide a valid module name!"),
    }
}