#code_gen_modules

fn main() {
    let args: Vec<String> = std::env::args().collect();
    args.iter()
        .skip(1)
        .for_each(|arg| {
            match arg.as_str() {
                #contract_matcher
                _ => println!("Please provide a valid module name!")
            }
        });
}